<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Colleges</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<style>
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
th{
    width:max-content;
    padding: 5px;
    border: 1px solid #bbb;
    font-size: 12px;
}
td{
    padding: 5px;
    font-size: 12px;
    border: 1px solid #bbb;
    text-align: center;
}
</style>
<body class="w-full min-h-[100dvh] font-[Outfit] flex flex-col">
    <header class="p-3 border-b-[1px] flex justify-center">
        <a href="/" class="text-[16px] font-semibold">D2D College Finder</a>
    </header>
    <h1 class="text-[14px] p-3">Colleges Found : <%= colleges.length %></h1>
    <main class="overflow-x-auto flex-1 p-5">
    <table class="w-full border-[1px] border-collapse">
        <thead class="border-[1px] bg-slate-200">
            <tr class="border-[#ddd]">
                <th>Sr. No</th>
                <th>Name</th>
                <th>Type</th>
                <th>Branch</th>
                <th>Quota</th>
                <th>Category</th>
                <th>First Admitted (Marks)</th>
                <th>First Admitted (Rank)</th>
                <th>Last Admitted (Marks)</th>
                <th>Last Admitted (Rank)</th>
            </tr>
        </thead>
        <tbody class="bg-slate-100">
            <% if(colleges.length > 0){ %>
            <% colleges.map((data,index) => { %>
            <tr class="border-[#ddd]">
                <td><%= index + 1 %></td>
                <td><%= data.nameOfInstitute %></td>
                <td><%= data.instituteType %></td>
                <td><%= data.branch %></td>
                <td><%= data.quota %></td>
                <td><%= data.admissionCategory %></td>
                <td><%= data.firstAdmittedDDCETMarks %></td>
                <td><%= data.firstAdmittedDDCETRank %></td>
                <td><%= data.lastAdmittedDDCETMarks %></td>
                <td><%= data.lastAdmittedDDCETRank %></td>
            </tr>
            <% }) %>
            <% } else {%>
             <tr class="border-[#ddd]">
                <td colspan="10">No Records Found</td>
             </tr>
             <% } %>
        </tbody>
    </table>
    </main>
    <footer class="p-3 text-center text-[11px] border-t-[1px]">
        Made with <span class="text-red-500">❤</span> By Chaudhari Rohan
    </footer>
</body>
</html>