<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | DDCET Predictor</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
</style>

<body class="font-[Outfit] flex flex-col min-h-[100dvh] bg-base-200 text-base-content">
    <!-- Header Component -->
    <div class="navbar bg-base-100 shadow-sm px-5">
        <div class="flex-1">
        <a href="/mock" class="font-semibold text-xl ps-3">D2D College Finder</a>
        </div>
        <div class="flex-none">
            <a href="/" class="btn btn-primary btn-sm">Results 2024</a>
        </div>
    </div>
    <!-- Header Ends -->
    <main class="flex justify-center items-center flex-1">
        <form action="/mock/filter" method="get" class="bg-base-100 p-3 rounded-md flex items-center gap-1 md:w-[40%] w-4/5 flex-col">
            <h1 class="text-xl font-semibold">Enter Your Preferences Here</h1>
            <hr class="w-full h-1 bg-base-100">
            <fieldset class="fieldset w-full">
                <legend class="fieldset-legend text-slate-300">What is your DDCET Rank?</legend>
                <input name="rank" required type="number" class="input w-full" placeholder="Type here" />
            </fieldset>
            <fieldset class="fieldset w-full">
                <legend class="fieldset-legend text-slate-300">Branch</legend>
                <select class="select w-full" name="branch">
                    <option disabled selected value="">All Branches</option>
                    <% for (let branch of branches){ %>
                        <option class="dark:text-white dark:bg-zinc-700" value="<%= branch %>"><%= branch %></option>
                    <% } %>
                </select>
            </fieldset>
            
            <fieldset class="fieldset w-full">
                <legend class="fieldset-legend text-slate-300">Admission Category</legend>
                <select class="select w-full" name="admissionCategory">
                    <option disabled selected value="">All Categories</option>
                    <% for (let category of categories){ %>
                        <option class="dark:text-white dark:bg-zinc-700" value="<%= category %>"><%= category %></option>
                    <% } %>
                </select>
            </fieldset>
            <fieldset class="fieldset w-full">
                <legend class="fieldset-legend text-slate-300">Name of Institute</legend>
                <select name="nameOfInstitute" class="select w-full">
                    <option disabled selected value="">All Institutes</option>
                    <% for (let institute of institutes){ %>
                        <option class="dark:text-white dark:bg-zinc-700" value="<%= institute %>"><%= institute %></option>
                    <% } %>
                </select>
            </fieldset>
            <fieldset class="fieldset w-full">
                <legend class="fieldset-legend text-slate-300">Institute Type</legend>
                <select class="select w-full" name="instituteType">
                    <option disabled selected value="">All Types</option>
                    <option value="GOV">Government</option>
                    <option value="GIA">Grant-Aid</option>
                    <option value="SFI">Self Finance</option>
                </select>
            </fieldset>
            <button class="btn btn-primary w-full" type="submit">Show Results</button>
        </form>
    </main>
    <footer class="p-3 text-center border-t-[1px]">
        Made with <span class="text-red-500">❤</span> By Chaudhari Rohan
    </footer>
</body>

</html>