<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mock Home | DDCET Predictor</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
</style>

<body class="font-[Outfit] flex flex-col min-h-screen bg-base-200 text-base-content">
    <!-- Header Component -->
    <div class="navbar bg-base-100 shadow-sm px-5">
        <div class="flex-1">
        <a href="/mock" class="font-semibold text-xl ps-3">D2D College Finder</a>
        </div>
        <div class="flex-none">
            <button type="button" onclick="window.print()" class="btn btn-primary btn-sm">Print List</button>
        </div>
    </div>
    <!-- Header Ends -->
    <div class="flex items-center justify-between p-3">
        <a href="/mock" class="text-[14px] text-blue-500 flex items-center gap-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
            </svg>Go Back</a>
        <h1 class="text-md">Colleges Found : <%= colleges.length %>
        </h1>
    </div>
    <main class="p-2">
        <div class="overflow-x-auto rounded-box border border-base-content/5">
            <table class="table md:table-md table-sm">
                <thead>
                    <tr>
                        <th></th>
                        <th>Institute Name</th>
                        <th>Institute Type</th>
                        <th>Branch</th>
                        <th>Quota</th>
                        <th>Category</th>
                        <th>Opening</th>
                        <th>Closing</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(colleges.length> 0){ %>
                        <% colleges.map((data,index)=> { %>
                            <tr>
                                <td>
                                    <%= index + 1 %>
                                </td>
                                <td>
                                    <%= data.nameOfInstitute %>
                                </td>
                                <td>
                                    <%= data.instituteType %>
                                </td>
                                <td>
                                    <%= data.branch %>
                                </td>
                                <td>
                                    <%= data.quota %>
                                </td>
                                <td>
                                    <%= data.admissionCategory %>
                                </td>
                                <td>
                                    <%= data.opening %>
                                </td>
                                <td>
                                    <%= data.closing %>
                                </td>
                            </tr>
                            <% }) %>
                                <% } else {%>
                                    <tr>
                                        <td colspan="8">No Records Found</td>
                                    </tr>
                                    <% } %>
                </tbody>
            </table>
        </div>
    </main>
    <footer class="p-3 text-center bg-base-100">
        Made with <span class="text-red-500">❤</span> By Chaudhari Rohan
    </footer>
</body>

</html>